# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/APP/node_modules
/API/node_modules
/.pnp
.pnp.js

# testing
/APP/coverage

# production
/APP/build

# misc
/APP/.DS_Store
/APP/.env.local
/APP/.env.development.local
/APP/.env.test.local
/APP/.env.production.local

/APP/npm-debug.log*
/APP/yarn-debug.log*
/APP/yarn-error.log*
