.homeCarousel img {
    object-fit: cover;
    height: 650px;
    /* max-height: 80vh; */
}

.homeCarousel {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    overflow: hidden;
}