.avatar-wrapper{
	position: relative;
	height: 40vh;
	width: 40vh;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;
}


.avatar-wrapper:hover{
    transform: scale(1.05);
    cursor: pointer;
}



.avatar-wrapper .upload-button {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}

.avatar-wrapper .upload-button .arrow-circle-up-icon {
    position: absolute;
    font-size: 40vh;
    /* top: -17px; */
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #34495e;
}

.avatar-wrapper .upload-button .circular-user {
    position: absolute;
    font-size: 40vh;
    /* top: -17px; */
    top: 0; left: 0;
    text-align: center;
    transition: all .3s ease;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}

.avatar-wrapper .upload-button:hover .arrow-circle-up-icon {
    opacity: .9;
}

.avatar-wrapper .upload-button:hover .circular-user {
    opacity: .5;
}

.avatar-wrapper input {
    opacity: 0%;
    height: 100%;
    width: 100%;
}

.avatar-wrapper img {
    object-fit:cover;
    height: 100%;
    width: 100%;
}